body {
}

tr:nth-child(1) {
    background-color: gray;
}

tr:nth-child(even) {
    background-color: lightgray;
}

#statusMessage {
    border: 1px solid black;
    width: 300px;
    padding: 20px;
    background-color: lightblue;
    margin: 30px;
}